@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <td>Термин</td>
        <td>Определение</td>
        <td></td>
        @foreach (var card in Model)
        {
            <tr>
                <td>@card.Term</td>
                <td>@card.Definition</td>
            </tr>
        }
    </table>
</div>
